<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model的原理</title>
</head>
<body>
<div id="app">
  <label for="">
    <!--<input type="text" v-model="message" @input="valueChange(value)">-->
    <input type="text" v-model="message" @input="message = $event.target.value">
  </label>
  <h2>{{message}}</h2>
</div>
</body>
<script src="../vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      message:'你好啊'
    },
    methods: {
      valueChange(event){
        this.message = event.target.value
      }
    }
  })
</script>
</html>